:root {
/* ### Primary */

--Grayish-blue: hsl(237, 18%, 59%);
--Soft-red: hsl(345, 95%, 68%);

/* ### Neutral */

--white: #fff;
--Dark-desaturated-blue: hsl(236, 21%, 26%);
--Very-dark-blue: hsl(235, 16%, 14%);
--Very-dark-blue-black: hsl(234, 17%, 12%); 
/* (mostly black)  */
}
*, *::before, *::after {
    box-sizing: border-box;
}
html {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

body {
    padding: 0;
    margin: 0;
    color: white;
    text-align: center;
}

/* TODO-- what is the best way to resolve this? need to manage varius layers */
.container {
    min-width: 375px;
    width: 100vw;
    height: 100vh;
    /* background-image: url('./images/bg-stars.svg');
    background-size: cover;
    background-repeat: no-repeat; */
    background: var(--Very-dark-blue);
}


/* WORKING NOW */
.launch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: relative;
    
    
}
.bg-stars {
    width: 100%;
    overflow: hidden;
    /* height: 200px;
    background-image: url('./images/bg-stars.svg');
    background-size: cover;
    background-repeat: repeat; */
    position: absolute;
    opacity: .8;
    top: 0;
    left: 0;
    z-index: 1;
}
.bg-starts img {
    width: 100%;
}
.launch__inner {
    padding: 1rem;
    padding-top: 8rem;
    z-index: 100;
}

h1 {
    font-size: 1.5rem;
    letter-spacing: 4px;
}

.launch__numbers {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    z-index: 10;
}

.launch__numbers__box {
    width: 23%;
}

.num {
    position: relative;
}

.num__main {
    
    border-radius: .5rem;
    border-radius: .3rem;
    font-size: 3rem;
    background: var(--Dark-desaturated-blue);
    color: var(--Soft-red);
    position: relative;
}

.divider {
    width: 100%;
    height: 1px;
    background: var(--Very-dark-blue);
    position: absolute;
    top: 50%;
    left: 0;
}
.divider::before {
    position: absolute;
    left: -6px;
    top: -3px;
    content: '';
    padding: 4px;
    background: var(--Very-dark-blue);
    border-radius: 50%;
}
.divider::after {
    position: absolute;
    right: -5px;
    top: -3px;
    content: '';
    padding: 4px;
    background: var(--Very-dark-blue);
    border-radius: 50%;
}

.label {
    font-size: .6rem;
    letter-spacing: 1px;
    color: var(--Grayish-blue);
}



/* WORKING NOW */




/* TODO-- */
.social {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(./images/pattern-hills.svg);
    padding-bottom: 3rem;
    background-repeat: no-repeat;
    background-position-x: -867px;
    background-size: cover;
    height: 200px;
    z-index: 10;
}

.social__link {
    padding: 1rem;
}
.social__link a {
    font-size: 2rem;
    color: var(--Grayish-blue);
    text-decoration: none;
}
.social__link a:hover {
    color: var(--Soft-red);
}



@media (min-width:600px) {
    .num__main {
        font-size: 6rem;
    }

    .launch__inner {
        width: 80%;
        margin: 0 auto;
        padding-top: 5rem;
    }
    h1 {
        font-size: 2.5rem;
        margin-bottom: 5rem;
    }
    
    .divider {
        height: 3px;
    }
    .label {
        font-size: 1rem;
    }
    .social {
        background-position-x: center;
    }
}
